<!-- Formulario tipo plantilla -->
<!-- <div class="container">
    <form #myForm="ngForm" (ngSubmit)="enviar()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="name" [(ngModel)]="user.name" required [ngModelOptions]="{standalone: true}">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email" required [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div> -->

<!-- Formulario tipo reactivo -->
<div class="container">
    <form [formGroup]="formContact" (ngSubmit)="enviar()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input [ngClass]="{'is-invalid': hasErrors('name', 'required') || hasErrors('name', 'minlength')}" type="text" class="form-control" id="name" formControlName="name">
            <div class="text-danger" *ngIf="hasErrors('name', 'required')">Nombre requerido</div>
            <div class="text-danger" *ngIf="hasErrors('name', 'minlength')">Nombre requiere mínimo 4 caracteres</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}" type="email" class="form-control" id="email" formControlName="email">
          <div class="text-danger" *ngIf="hasErrors('email', 'email')">Formato email inválido</div>
          <div class="text-danger" *ngIf="hasErrors('email', 'required')">Email requerido</div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>
